
@media screen and (max-width: 380px) {

html {
  background-color: #EFEFEF;
}

body {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto; 
    padding-top:calc(5px + 1vw);
    padding-left: calc(5px + 1vw);
    padding-right: calc(5px + 1vw);
    padding-bottom: 0px; 
    min-height: 100vh;
    width: 95%;
    min-width: 200px;
    max-width: 480px;
    background: white;
    overflow: auto;
}

header {
    background: white;
    margin-bottom: 0px;
    font-size: calc(14px + 1vw)
}

#topmenu {
  font-size: calc(14px + 1vw)
}

h1 {
  font-size: calc(14px + 2vw);
}

h5 {
  font-size: calc(0.3rem+1vw);
  margin: 0px;
}

.btn {
  font-size:calc(0.7rem+1vw);  
}

.price {
  font-size: calc(14px+3vw);
  color: red;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.card-title {
  margin: 2px;
  padding-top: 1px;
  padding-bottom:1px;
  font-size: calc(14px+3vw);
}

.card-text {
  font-size: calc(14px+3vw);
  }

.card-body {
  margin: 0px;

}

#shirts {
  visibility: none !important;
  display: none;
}


img {
  width: 80%;
  min-width: 200px;
  max-width: 480px;
  justify-content: center;
  margin: auto;
 place-items: center stretch;
}

.container2 {
    margin:0px auto;
    }

 
.card1 {
    grid-area: card1;
  }
.card2 {
    grid-area: card2;
  }
.card3 {
    grid-area: card3;
  }
.card4 {
    grid-area: card4;
  }
.card5 {
    grid-area: card5;
  }
.card6 {
    grid-area: card6;
  }
.card7 {
    grid-area: card7;
  }
.card8 {
    grid-area: card8;
  }
  
.grid1 {
    display: grid;
    grid-gap: 15px;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "card1"
                         "card2" 
                         "card3"
                         "card4"
                         "card5"
                         "card6" 
                         "card7"
                        "card8";
  }
 
  
  .container3 {
    display: grid;
    grid-template-columns: 0.25fr 2.5fr 0.25fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "empty1 callus empty2";
    height: 10%;
  }
  
  .empty1 {
    grid-area: empty1; 
  }
  
  .empty2 {
    grid-area: empty2; 
   }
  
  .callus { 
    grid-area: callus;
   
  #callus {
    font-size: calc(0.5rem+2vw);
  }

  }

  .time {
    font-size: calc(0.1rem+2vw);
  }

  .price {
    font-size: 0.8rem;
    margin: 0;
    padding: 0px;
  }
  
  

  .bottom {
    font-size:  calc(0.5rem+2vw);
  }
  
  #bottom {
    font-size:  calc(0.4rem+2vw);
  }

}
  

